images/1109272_1080p_Typing_1920x1080.mp4 filter=lfs diff=lfs merge=lfs -text
D:/juice/3d[[:space:]]Rotate[[:space:]]CSS[[:space:]]Only/images/1109272_1080p_Typing_1920x1080.mp4 filter=lfs diff=lfs merge=lfs -text
